{% include "base.html" %}

<!DOCTYPE html>


<html>
<title>Product Details by Store</title>
<h3>Displays the Product details based upon Stores</h3>
<br>
<body>
<table cellspacing=5 cellpadding=5>
	<tr>
		<td>Title</td>
		<td>Brand</td>
		<td>Store</td>
		<td>Price</td>
		<td>In Stock</td>
	</tr>
    {% for product in products %}
	<tr>
	    <td>{{ product.title }}</td>
	    <td>{{ product.brand }}</td>
	    <td>{{ product.store }}</td>
	    <td>{{ product.price }}</td>
	    <td>{{ product.in_stock }}</td>
    </tr>
    {% endfor %}
</table>

<br><br><br><br><br><br><br><br><br><br>
<b>NOTE</b>
<p>This page satisfies the condition <br><br><br>

SELECT * FROM products WHERE store=2<br><br>

title,brand,store,price,in_stock<br>
Apple iPhone 5,2,2,599.99,true<br>
Nokia Lumia 800,3,2,300,false<br>
Samsung LED TV 51 inches,4,2,900,true<br>
</body>
</html>